.content-header
  .container
    %h1 Research

.container
  .row
    .col-sm-7
      .content-container
        %p.lead Let us know which research topics matter most to you, and propose your own.
        = link_to 'Propose a new research topic', new_research_topic_path, class: 'btn btn-danger btn-lg'


      - @research_topics.newest.each do |rt|
        = render rt

