.content-header
  .container
    %h1 Partners
    %p= link_to 'Back to Admin Dashboard', admin_path
    = link_to 'New Partner', new_admin_partner_path, class: 'btn btn-danger'

.container
  = render @partners
