%h1 Admin Dashboard

.box= link_to 'Team Members', admin_team_members_path

.box= link_to 'Partners', admin_partners_path

.box= link_to 'Consent Forms', admin_consent_forms_path

.box= link_to 'Dashboard Highlights', admin_highlights_path
