%h1 Content Groups
%hr
- @content_groups.each do |content_group|
  %p
    = content_group.title
    = link_to content_group.slug, content_group
%hr
= link_to 'New Content group', new_admin_content_group_path
