.highlight-container {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;

  p {
    color: $black;
  }

  .admin-bar {
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background-color: $lightest-gray;
  }
}
