.partner-container {
  background-color: $white;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;

  .partner-img {
    max-height: 250px;
    max-width: 250px;
  }

  .admin-bar {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 992px) {
  .partner-container {
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
    padding: 0;
  }
}
