%h1 Surveys

%ul
  - @surveys.in_groups_of(3, false) do |survey_group|
    .row
      - survey_group.each do |survey|
        .col-sm-4.centered
          = render 'surveys/progress_indicator', survey: survey
