$footer-height: 120px;

html {
  position: relative;
  min-height: 100%;
  background-color: $primary;
}

body {
  margin-bottom: $footer-height;
  background-color: $primary;
}

.navbar {
  background-color: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $darker-gray;
  padding-top: 20px;
  padding-bottom: 20px;

  .footer-header {
    color: $primary;
    font-size: 10px;
    line-height: 20px;
  }

  .footer-link {
    font-size: 10px;
    line-height: 20px;

    a {
      color: $white;

      &:hover {
        color: darken($white, 10.5);
      }
    }
  }
}
