.content-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $primary;

  h1 {
    color: $white;
  }
  p.lead {
    margin-bottom: 0px;
    color: $white;
  }
  a {
    color: transparentize($white, .2);
  }
}

.header-lg {
  padding-bottom: 100px;
  padding-top: 100px;
}

.content-container {
  background-color: $white;
  margin-bottom: 20px;
  padding: 10px;

  .content-footer {
    padding: 10px;
    border-top: 1px solid $content-footer-divider;
    background-color: $lightest-gray;
  }
}

.content-container.inherit-background {
  background: inherit;
  box-shadow: none;
}

.horizontal-inset {
  margin-left: 20px;
  margin-right: 20px;
}
