.form-inline-always .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.sign-up-form {
  background-color: transparentize(#fff, 0.5);
  padding: 20px;
  border-radius: 2px;
}

@media screen and (min-width: $screen-sm-min) {

  .sign-up-form {

  }
}
