// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote-status-container {
  border-radius: 2px;
  color: $white;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
}

.vote-status-endorsed {
  color: $white;
}

.vote-status-opposed {
  color: $white;
}

.vote-btn-container {
  input[type="radio"] {
    display: none;
  }
  label {
    background-color: $white;
    border: 2px solid $white;
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 100px;
  }

  input[type="radio"]:checked + label {
    border-color: $white;
    color: $white;
  }
}

.vote-btn-container-endorse {
  label {
    border-color: $green;
  }
  input[type="radio"]:checked + label {
    background-color: $green;
  }
}

.vote-btn-container-oppose {
  label {
    border-color: $red;
  }
  input[type="radio"]:checked + label {
    background-color: $red;
  }
}
