- content_for :title, 'Dashboard'
- content_for :description, 'Learn about the issues faced by ICU survivors, and what people are doing to help; Shape research to better benefit people like you; Share your story'

.content-header
  .container
    %h1= "Welcome, #{current_user.first_name}"

.container
  .row
    - @highlights.each do |highlight|
      .col-md-4
        = render highlight

