.content-header
  .container
    %h1= "Welcome, #{current_user.first_name}"

.container
  .content-container
    .row
      - @highlights.each do |highlight|
        .col-md-4
          = render highlight
    %br
    %h2.f400 Recent Activity
    %ul.list-group
      - Post.most_recent.first(10).each do |post|
        %li.list-group-item= post.description
