- content_for :title, 'Partners'
- content_for :description, 'Meet the organizations who are helping to make the After the ICU community possible'

.content-header
  .container
    %h1 Our Partners

.container
  = render @partners
