- content_for :title, 'Privacy Policy'
- content_for :description, 'The privacy of our community members is of utmost importance to us'

.content-header
  .container
    %h1= @privacy_policy.title

.container
  .content-container
    = simple_markdown(@privacy_policy.content)
