- content_for :title, 'Team'
- content_for :description, 'Meet the people who make the After the ICU community possible'

.content-header
  .container
    %h1 Our Team

.container
  .row
    - @team_members.each do |tm|
      .col-sm-4
        = render tm
