.content-header.header-lg
  .container
    .row
      .col-md-7
        %h1 Helping patients and their families navigate the road to recovery from critical illness
      .col-md-5

.container
  .content-container
    %p.lead
      Bacon ipsum dolor amet prosciutto proident nisi, et meatball elit id short loin sint adipisicing laborum swine. Pork belly non pancetta corned beef eiusmod excepteur doner pork loin ad minim cupidatat proident quis. Ea tri-tip veniam pork chop. Anim quis beef ribs turducken in, shank turkey frankfurter in ut ut shoulder shankle consectetur ribeye. Excepteur eu laboris cupim dolor beef ut pig. Qui tenderloin capicola, turducken strip steak fugiat meatball bacon short loin hamburger. Incididunt dolore in, brisket pastrami ground round sed.
