.callout-banner
  .container
    .row
      .col-sm-8.col-md-6
        %h1.no-margin-top Sign up to participate!
      .col-sm-4.col-md-6
        = link_to 'Join the community', new_user_registration_path, class: 'btn btn-danger btn-block btn-lg'
